body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 36, 36);
}
.container
{
    width: 500px;
    min-height: 200px;
    margin: 20px auto;
    
}   
.UserInput
{
    width:200px;
    height: 30px;
    font-size:24px;
    display: block;
    margin: 0 auto;
}
.LetterTiles
{
    width:50px;
    height: 50px;
    background-color: red;
    margin:10px auto;
    text-align: center;
    line-height: 50px; 
    font-size:24px;
}
.Info
{
    width:100px;
    height: 20px;
    color: red;
    margin: 10px auto;
    text-align: center;
}